.app-container {
  padding: 20px;
}

.actions-list {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: solid 1px;
  margin-right: 20px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
}

.button:hover {
  background-color: lightgrey;
}

.selected-item {
  font-weight: bold;
}

.string-information {
    display: flex;
    margin-bottom: 20px;
}

.string-information .value {
    margin-left: 20px;
}

span.selected {
    font-weight: bold;
}

.normalize-step span {
    margin-right: 2px;
}

.normalize-step .selected {
    background-color: #ededed;
    padding: 0 2px;
}
